<header>
  <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #006a7d;">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div><% if (username) { %> 
      <p style="color: white;font-size: large;margin-right: 1%;margin-bottom: 2px;">Logged in as: <%= username %></p> <form method="POST" action="/logout"><button class="btn btn-secondary" type="submit">Logout</button></form>
      <% } else { %><form class="d-flex" method="POST" action="/login"><input style="margin-right: 5%;" class="form-control" name="username" placeholder="username"><button class="btn btn-primary" type="submit">Login</button> 
        <% } %>
    </form>
  </nav>
</header>